<div class="row align-items-md-stretch mb-4">
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2 class="text-danger"><%= @expenses_last_month %></h2>
      <p>Ваші витрати за минулий місяць</p>
      <a href="<%= operations_path(@operation, :otype_id => "2") %>" class="btn btn-outline-primary" role="button"><%= t('label_all') + ' ' + t('report_generator.expenses', :count => 2).downcase %></a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2 class="text-success"><%= @profit_last_month %></h2>
      <p>Ваші доходи за минулий місяць</p>
      <a href="<%= operations_path(@operation, :otype_id => "1") %>" class="btn btn-outline-primary" role="button"><%= t('label_all') + ' ' + t('report_generator.profits', :count => 2).downcase %></a>
    </div>
  </div>
</div>
<div class="p-5 mb-4 bg-light border rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= @most_expensive_category[0] %></h1>
    <div class="col-md-10 fs-4">
        <p>найбільш витратна категорія минулого місяця, на неї було витрачено <strong><mark><%= @most_expensive_category[1] %></mark></strong> грн</p>
    </div>
    <a href="<%= reports_index_path %>" class="btn btn-lg btn-outline-primary mt-3" role="button"><%= t('report_generator.title') %></a>
  </div>
</div>
<div class="p-5 mb-4 bg-light border rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">TOP 3 витрат за минулий місяць</h1>
    <div class="col-md-10 fs-4">
        <ol>
            <%= render partial: "operation", collection: @top3ops %>
        </ol>        
    </div>
    <a href="<%= operations_url %>" class="btn btn-lg btn-outline-primary mt-3" role="button"><%= t('label_all') + ' ' + Operation.model_name.human(:count => 2).downcase %></a>
  </div>
</div>

