<tr id="<%= dom_id otype %>">
      <th scope="row"><%= otype.id %></th>
      <td><%= otype.title %></td>
      <td>
        <div class="d-flex justify-content-around">
          <%= link_to "", edit_otype_path(otype), class: "btn btn-secondary btn-sm bi bi-pencil-square", role: "button", alt: "Edit"  %>
          <%= button_to "", otype, method: :delete, class: "btn btn-danger btn-sm bi bi-x-square", alt: "Delete" %>
        </div>        
      </td>
</tr>