  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/logo_s.png" alt="" >
        <small class="d-block mb-3 text-muted">&copy; 2023</small>
      </div>
      <div class="col-6 col-md">
        <h5><%= Operation.model_name.human(:count => 2) %></h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= operations_url %>"> <%= t('label_all') %></a></li>   
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= operations_path(@operation, :otype_id => "2") %>"><%= t('report_generator.expenses', :count => 2) %></a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= operations_path(@operation, :otype_id => "1") %>"><%= t('report_generator.profits', :count => 2) %></a></li>
          <li class="mb-1"><a class="link-dark  text-decoration-none" href="<%= reports_index_path %>"><%= t('report_generator.title') %></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>За категоріями</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= reports_report_by_category_path(:otype_id => "2", :start_date => Date.today - 30, :end_date => Date.today) %>"><%= t('report_generator.expenses', :count => 2) %> за 30 днів</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= reports_report_by_category_path(:otype_id => "2", :start_date => Date.today - 7, :end_date => Date.today) %>"><%= t('report_generator.expenses', :count => 2) %> за 7 днів</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= reports_report_by_category_path(:otype_id => "1", :start_date => Date.today - 30, :end_date => Date.today) %>"><%= t('report_generator.profits', :count => 2) %> за 30 днів</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= reports_report_by_category_path(:otype_id => "1", :start_date => Date.today - 7, :end_date => Date.today) %>"><%= t('report_generator.profits', :count => 2) %> за 7 днів</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>По датам</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= reports_report_by_dates_path(:otype_id => "2", :start_date => Date.today - 30, :end_date => Date.today) %>"><%= t('report_generator.expenses', :count => 2) %> за 30 днів</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= reports_report_by_dates_path(:otype_id => "2", :start_date => Date.today - 7, :end_date => Date.today) %>"><%= t('report_generator.expenses', :count => 2) %> за 7 днів</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= reports_report_by_dates_path(:otype_id => "1", :start_date => Date.today - 30, :end_date => Date.today) %>"><%= t('report_generator.profits', :count => 2) %> за 30 днів</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= reports_report_by_dates_path(:otype_id => "1", :start_date => Date.today - 7, :end_date => Date.today) %>"><%= t('report_generator.profits', :count => 2) %> за 7 днів</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Тренди</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="<%= trends_trend_by_category_path(:period => :month, :category_id => 1) %>">По місяцям</a></li>
        </ul>
      </div>
    </div>
  </footer>