  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img class="img-fluid" src="/logo.png">
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="<%= operations_path %>"><%= Operation.model_name.human(:count => 2) %></a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="<%= categories_path %>"><%= Category.model_name.human(:count => 2) %></a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="<%= reports_index_path %>"><%= t('activemodel.models.reports_controller/report', :count => 2) %></a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="<%= trends_trend_by_category_path %>"><%= t('activemodel.models.trends_controller/trend', :count => 2) %></a>
      </nav>
    </div>
  </header>