<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal"><%= Category.model_name.human(:count => 2) %></h1>
    </div>
  </div>
  <div class="row">
    <div class="p-3 pb-md-4 mx-auto ">
      <%= link_to ' ' + t('helpers.submit.create', :model => Category.model_name.human), new_category_path, class: "btn btn-success bi bi-plus-square", role: "button", alt: "Add new"  %>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= t('activerecord.attributes.category.name') %></th>
          <th scope="col"><%= t('activerecord.attributes.category.description') %></th>
          <th scope="col"><%= t('button_configure') %></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <%= render category %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @categories %>
  </div>

</div>