<h1><%= t('report_generator.title') %></h1>
<%= form_with method: :get do |form| %>
    <% if @report.present? && @report.errors.any? %>
        <div style="color: red">
        <h2><%= t('activemodel.errors.template.header', :model => @report.model_name.human, :count => @report.errors.count) %></h2>
        <ul>
            <% @report.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="mb-3">
        <%= form.label :start_date, class: "form-label" %> 
        <%= form.date_field :start_date, class: "form-control" %>
        <div id="DateStartHelp" class="form-text"><%= t('report_generator.start_date_help')%></div>
    </div>
    <div class="mb-3">
        <%= form.label :end_date, class: "form-label" %>
        <%= form.date_field :end_date, value: Date.today, max: Date.today, class: "form-control" %>
        <div id="DateEndHelp" class="form-text"><%= t('report_generator.end_date_help')%></div>
    </div>
    <div class="mb-3">
        <%= form.label Otype.model_name.human, class: "form-label" %>
        <%= form.collection_select :otype_id, Otype.order(:title), :id, :title, {}, {:class=>'form-select'} %>
    </div>
    <div class="mb-3">
        <%= form.label Category.model_name.human, class: "form-label" %>
         <%= form.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }.unshift([t('label_all'), 'all']) , {}, { :class => 'form-select' } %>
    </div>
    <div class="mb-3">
        <%= form.submit t('report_generator.button_reset'), :type => "reset", class: 'btn btn-secondary' %>
        <%= button_tag type: 'submit', formaction: 'report_by_category', class: "btn btn-primary" do %>
            <i class="bi bi-pie-chart"></i> <%= t('report_generator.button_by_categories') %>
        <% end %> 
        <%= button_tag type: 'submit', formaction: 'report_by_dates', class: "btn btn-primary" do %>
            <i class="bi bi-calendar-date"></i> <%= t('report_generator.button_by_dates') %>
        <% end %> 

    </div>
<% end %>