<h1>Генератор звітів</h1>
<%= form_with method: :get do |form| %>
    <% if @report.present? && @report.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(@report.errors.count, "error") %> prohibited this operation from being sent:</h2>
        <ul>
            <% @report.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="mb-3">
        <%= form.label :start_date, "Початок", class: "form-label" %>     <%#Validation between two date rails https://stackoverflow.com/questions/47276147/validation-between-two-date-rails%>
        <%= form.date_field :start_date, class: "form-control" %>
        <div id="DateStartHelp" class="form-text">Початкова дата для звіту</div>
    </div>
    <div class="mb-3">
        <%= form.label :end_date, "Кінець", class: "form-label" %>
        <%= form.date_field :end_date, class: "form-control" %>
        <div id="DateEndHelp" class="form-text">Кінцева дата для звіту</div>
    </div>
    <div class="mb-3">
        <%= form.label :category, "Тип операції", class: "form-label" %>
        <%= form.collection_select :otype_id, Otype.order(:title), :id, :title, {}, {:class=>'form-select'} %>
    </div>
    <div class="mb-3">
        <%= form.label :category, "Категорія", class: "form-label" %>
        <%= form.collection_select :category_id, Category.order(:name), :id, :name, {}, {:class=>'form-select'} %>
    </div>
    <div class="mb-3">
        <%= form.submit "Очистити", :type => "reset", class: 'btn btn-secondary' %>
        <%= button_tag type: 'submit', formaction: 'report_by_category', class: "btn btn-primary" do %>
            <i class="bi bi-pie-chart"></i> Графік 
        <% end %> 
        <%= button_tag type: 'submit', formaction: 'report_by_dates', class: "btn btn-primary" do %>
            <i class="bi bi-calendar-date"></i> По датам 
        <% end %> 

    </div>
<% end %>