<h1>Генератор звітів</h1>
<%= form_with method: :get do |form| %>
    <%= form.label :start, "Дата YYYY-MM-DD" %>
    <%= form.date_field :start %>
    <br>
    <%= form.label :end, "Дата YYYY-MM-DD" %>
    <%= form.date_field :end %>
    <br>
    <%= form.label :category, "Категорія" %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
    <br>
    <%= form.submit "Очистити", :type => "reset" %>
    <%= form.submit "Графік",  formaction: 'report_by_category' %> 
    <%= form.submit "По датам",  formaction: 'report_by_dates' %> 
<% end %>