<h1>Генератор звітів</h1>
<%= form_with url: "/reports/report_by_category", method: :get do |form| %>
    <%= form.label :start, "Дата YYYY-MM-DD" %>
    <%= form.date_field :start %>
    <br>
    <%= form.label :end, "Дата YYYY-MM-DD" %>
    <%= form.date_field :end %>
    <br>
    <%= form.label :category, "Категорія" %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
    <br>
    <%= form.submit "Згенерувати" %>
<% end %>