<h1>Генератор звітів</h1>
<%= form_with method: :get do |form| %>
    <%= form.label :start_date, "Дата YYYY-MM-DD" %>     <%#Validation between two date rails https://stackoverflow.com/questions/47276147/validation-between-two-date-rails%>
    <%= form.date_field :start_date %>
    <br>
    <%= form.label :end_date, "Дата YYYY-MM-DD" %>
    <%= form.date_field :end_date %>
    <br>
    <%= form.label :category, "Тип операції" %>
    <%= form.collection_select :otype_id, Otype.order(:title), :id, :title %>
    <br>
    <%= form.label :category, "Категорія" %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
    <br>
    <%= form.submit "Очистити", :type => "reset" %>
    <%= form.submit "Графік",  formaction: 'report_by_category' %> 
    <%= form.submit "По датам",  formaction: 'report_by_dates' %> 
<% end %>