<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= t('activerecord.errors.template.header', :model => Operation.model_name.human, :count => @operation.errors.count) %></h2>
      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :amount, style: "display: block", class: "form-label" %>
    <%= form.number_field :amount, value: number_to_currency(form.object.amount.to_f, delimiter: '', unit: '', precision: 2), step: :any, class: "form-control" %>
    <div id="amountHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <%= form.label :odate, style: "display: block", class: "form-label" %>
    <%= form.date_field :odate, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block", class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
    <div id="descriptionHelp" class="form-text"><%= t("activerecord.attributes.operation.description_help") %></div>
  </div>

  <div class="mb-3">
    <%= form.label Otype.model_name.human, style: "display: block", class: "form-label" %>
    <%= form.collection_select :otype_id, Otype.order(:title), :id, :title, {}, {:class=>'form-select'} %>
  </div>

  <div class="mb-3">
    <%= form.label Category.model_name.human, style: "display: block", class: "form-label" %>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, {}, {:class=>'form-select'} %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
