<tr id="<%= dom_id operation %>">
      <th scope="row"><%= operation.id %></th>
      <td><%= operation.category.name %></td>
      <td><%= operation.otype.title %></td>
      <td><%= operation.amount %></td>
      <td><%= operation.odate %></td>
      <td><%= operation.description %></td>
      <td>
        <div class="d-flex justify-content-around">
          <%= link_to "", edit_operation_path(operation), class: "btn btn-secondary btn-sm bi bi-pencil-square", role: "button", alt: "Delete"  %>
          <%= button_to "", operation, method: :delete, class: "btn btn-danger btn-sm bi bi-x-square", alt: "Delete" %>
        </div>        
      </td>
</tr>