<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal"><%= @operation.description %></h1>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><%= Category.model_name.human %></th>
          <th scope="col"><%= Otype.model_name.human %></th>
          <th scope="col"><%= t('activerecord.attributes.operation.amount') %></th>
          <th scope="col"><%= t('activerecord.attributes.operation.odate') %></th>
          <th scope="col"><%= t('activerecord.attributes.operation.description') %></th>
          <th scope="col"><%= t('button_configure') %></th>
        </tr>
      </thead>
      <tbody>
          <%= render @operation %>
      </tbody>
    </table>
  </div>

</div>